body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 1rem;
}

a {
  color: white;
  margin: 0 auto;
  text-decoration: underline;
}

header {
  margin-bottom: 40px;
}
