body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #000000;
  color: #fff;
}

header, footer {
  background: #000000;
  color: #fff;
  padding: 1em;
  text-align: center;
}

main {
  padding: 2em;
}

#p5-sketch-container {
  width: 100%;
  height: 60vh; /* Set the container height */
  background-color: transparent;
  resize: both;         /* adds a resize handle in bottom-right (optional) */
  overflow: hidden;     /* clip anything overflowing */
  position: relative;
  border: 2px dashed #999;
}

