body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #000000;
  color: #fff;
}

header, footer {
  background: #000000;
  color: #fff;
  padding: 1em;
  text-align: center;
}

main {
  padding: 2em;
}

#p5-sketch-container {
  width: 100%;
  height: 400px;  /* Set a fixed height or use a percentage */
  margin: 0 auto;
  background-color: #f4f4f4; /* Optional background color */
}
